<!DOCTYPE html>
<html>
<head>
    <title>Add new publisher</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <form method="POST" action="{{url_for('add_new_publisher')}}">
        <input type="text" name="name" required>
        <input type="text" name="city" required>
        <input type="submit" name="submit" value="Add">
    </form>
</body>
</html>